nav {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #cceecc;
  width: 100%;
  text-align: center;
  height: 50px;
}

nav p {
  padding-top: 0px;
}

body {
  margin-top: 60px;
}

.left {
  float: left;
  width: 50%;
  background-color: blue;
}

.right {
  float: right;
  width: 50%;
  background-color: #FFFFF0;
}

.bottom {
  clear: both;
  height: 20px;
  background-color: green;
}
