.big>ul {
  background-color: red;
  height: 200px;
  width: 700px;
  margin: auto;
  margin-bottom: 50px;
}

.little {
  background-color: red;
  margin: auto;
  width: 735px;
}

.High {
  color: blue;
}

.Medium {
  color: green;
}

.Low {
  color: white;
}

.done {
  text-decoration: line-through;
}
