.high>ul {
  background-color: red;
}

.medium>ul {
  background-color: orange;
}

.low>ul {
  background-color: gray;
}

.done>ul {
  background-color: black;
}



.texthigh>li {
  color: white;
}

.textmedium>li {
  color: #654321;
}

.textlow>li {
  color: black;
}

.textdone>li {
  color: #00ffff;
  text-decoration: line-through;
}

body {
    background-color: #d3d3d3;
  }
