.big>ul {
  background-color: red;
  height: 200px;
  width: 700px;
  margin: auto;
  margin-bottom: 50px;
}

.little {
  background-color: red;
  margin: auto;
  width: 750px;
}

.low>ul {
  background-color: gray;
}

.done>ul {
  background-color: black;
}



.texthigh>li {
  color: white;
}

.textmedium>li {
  color: #654321;
}

.textlow>li {
  color: black;
}

.textdone>li {
  color: #00ffff;
  text-decoration: line-through;
}

body {
    background-color: #d3d3d3;
  }
